In [27]:
## A. Build a baseline model

In [3]:
import pandas as pd
import numpy as np
import keras
#import sklearn
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('./concrete_data.csv')
data.head(15)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29
10,198.6,132.4,0.0,192.0,0.0,978.4,825.5,90,38.07
11,198.6,132.4,0.0,192.0,0.0,978.4,825.5,28,28.02
12,427.5,47.5,0.0,228.0,0.0,932.0,594.0,270,43.01
13,190.0,190.0,0.0,228.0,0.0,932.0,670.0,90,42.33
14,304.0,76.0,0.0,228.0,0.0,932.0,670.0,28,47.81

In [6]:
X = data.drop(columns=['Strength'])
y = data['Strength']

In [7]:
data.shape

(1030, 9)

In [8]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
 print('Number of missing values: \n' +str(data.isnull().sum()))

Number of missing values:
Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [10]:
print("X head:")
X.head()

X head:

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
print("Y head:")
y.head()

Y head:

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [12]:
data_columns = data.columns
target = data['Strength']
target.head(10)

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
5    47.03
6    43.70
7    36.45
8    45.85
9    39.29
Name: Strength, dtype: float64

In [13]:
predictors = data.iloc[:, :-1]
predictors.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28

In [22]:
n_cols = predictors.shape[1]
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [23]:
model = regression_model()

In [17]:
mse_list = []

In [24]:

for cycle in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    res = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = res.history['val_loss'][-1]
    mse_list.append(mean_squared_error)
    print('{}: Mean squared error {}'.format(cycle+1, mean_squared_error))

1: Mean squared error 269.3154604026029
2: Mean squared error 173.9803940856341
3: Mean squared error 129.81384697083902
4: Mean squared error 111.57432301839192
5: Mean squared error 110.8827940561239
6: Mean squared error 104.0674512671807
7: Mean squared error 110.58986024331892
8: Mean squared error 116.01340850039979
9: Mean squared error 108.88887241203037
10: Mean squared error 119.22913019865462
11: Mean squared error 108.9672623915194
12: Mean squared error 110.655605353198
13: Mean squared error 114.14782260536762
14: Mean squared error 117.71699251094682
15: Mean squared error 120.40778694029379
16: Mean squared error 112.4049714221152
17: Mean squared error 112.59208765616309
18: Mean squared error 99.10022081294878
19: Mean squared error 117.98897550021175
20: Mean squared error 120.2330559542264
21: Mean squared error 110.74520918466513
22: Mean squared error 121.55609708619349
23: Mean squared error 118.59201163381435
24: Mean squared error 100.3939314289772
25: Mean squared error 110.05732813467871
26: Mean squared error 118.58601305322739
27: Mean squared error 116.47747802734375
28: Mean squared error 109.71448864983124
29: Mean squared error 106.60969738512749
30: Mean squared error 107.80704624213061
31: Mean squared error 100.22676128399796
32: Mean squared error 115.32507301997212
33: Mean squared error 118.34581956585635
34: Mean squared error 111.08887101454256
35: Mean squared error 116.57273282048
36: Mean squared error 108.12273572409423
37: Mean squared error 118.75523524608427
38: Mean squared error 96.4793946596411
39: Mean squared error 97.14999922965337
40: Mean squared error 118.71749586580641
41: Mean squared error 113.32257860300996
42: Mean squared error 124.6429741127977
43: Mean squared error 96.48676500042666
44: Mean squared error 102.38893278054049
45: Mean squared error 123.40308525801477
46: Mean squared error 111.87459300019594
47: Mean squared error 110.58026576119333
48: Mean squared error 118.37616391475147
49: Mean squared error 97.94019850943853
50: Mean squared error 109.23836754363717

In [51]:
mean_sqmse_A = np.mean(mse_list)
std_sqmse_A  = np.std(mse_list)

#generate a data frame 
results = pd.DataFrame.from_dict({"Part": ["A"],"Mean of Mean Squared Errors": [mean_sqmse_A], "Standard deviation of Mean Squared Errors": [std_sqmse_A]})
results

  Part  Mean of Mean Squared Errors  Standard deviation of Mean Squared Errors
0    A                    52.149208                                  59.385506

In [26]:
# Save the results and display
results = pd.DataFrame(mse_list, columns=['Mean Squared Error'])
results.head(10)

   Mean Squared Error
0          266.890837
1          121.288754
2           73.563113
3           65.360553
4           61.958100
5           64.021281
6           47.891637
7           47.182918
8           58.151791
9           40.561510

In [28]:
## Part B: Normalize the data

In [29]:
predictors_n = (predictors - predictors.mean())/predictors.std()
predictors_n.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
5,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,0.701883
6,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
7,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597
8,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,-0.279597
9,1.854740,-0.856472,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597

In [37]:
#Building Model
cols = predictors_n.shape[1]
def second_regression_model():
    modelN = Sequential()
    modelN.add(Dense(10, activation='relu', input_shape=(cols,)))
    modelN.add(Dense(1))
    
    modelN.compile(optimizer='adam', loss='mean_squared_error')
    return modelN

modelN = second_regression_model()

In [43]:
mse_list_b= []
for cycle in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_n, target, test_size=0.3)
    res = modelN.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = res.history['val_loss'][-1]
    mse_list_b.append(mean_squared_error)
    print('{}: Mean Squared Error {}'.format(cycle+1, mean_squared_error))

1: Mean Squared Error 31.60475694477365
2: Mean Squared Error 32.3346079236867
3: Mean Squared Error 29.95577615595944
4: Mean Squared Error 28.749591605177205
5: Mean Squared Error 34.06688738332211
6: Mean Squared Error 29.90479640281702
7: Mean Squared Error 27.707136036894468
8: Mean Squared Error 30.162567644829117
9: Mean Squared Error 32.61269649024148
10: Mean Squared Error 30.158871906860746
11: Mean Squared Error 33.41270696152375
12: Mean Squared Error 36.35208694680223
13: Mean Squared Error 29.904492152933162
14: Mean Squared Error 29.655084937135765
15: Mean Squared Error 29.692436082463434
16: Mean Squared Error 29.269027395155824
17: Mean Squared Error 30.34435304314573
18: Mean Squared Error 30.662006057196066
19: Mean Squared Error 31.647890430438093
20: Mean Squared Error 31.498431066864903
21: Mean Squared Error 29.906733053016044
22: Mean Squared Error 31.09723075693865
23: Mean Squared Error 34.32460804047322
24: Mean Squared Error 37.07690845106798
25: Mean Squared Error 29.155613399246363
26: Mean Squared Error 31.879803524819778
27: Mean Squared Error 30.59294758028197
28: Mean Squared Error 30.687592632948004
29: Mean Squared Error 32.161653203871644
30: Mean Squared Error 30.83854242590253
31: Mean Squared Error 33.53715306501172
32: Mean Squared Error 30.509433443878073
33: Mean Squared Error 30.428229186912958
34: Mean Squared Error 34.227127254202145
35: Mean Squared Error 28.891124824104185
36: Mean Squared Error 29.371622289268714
37: Mean Squared Error 25.626935397151218
38: Mean Squared Error 25.837026484961648
39: Mean Squared Error 28.150696239039352
40: Mean Squared Error 28.741050590589207
41: Mean Squared Error 27.837298794471717
42: Mean Squared Error 29.015066844359957
43: Mean Squared Error 30.3761728589203
44: Mean Squared Error 29.61587941685155
45: Mean Squared Error 29.289212075637767
46: Mean Squared Error 29.402528676400294
47: Mean Squared Error 29.82628384685825
48: Mean Squared Error 31.85926012082393
49: Mean Squared Error 29.293698054687106
50: Mean Squared Error 29.889907120886743

In [52]:
mean_sqmse_B = np.mean(mse_list_b)
std_sqmse_B  = np.std(mse_list_b)

#generate a data frame 
results.loc[results.shape[0]] = ["B",mean_sqmse_B,std_sqmse_B]
results

  Part  Mean of Mean Squared Errors  Standard deviation of Mean Squared Errors
0    A                    52.149208                                  59.385506
1    B                    30.582871                                   2.212264

In [40]:
# Save the results and display
results = pd.DataFrame(mse_list, columns=['Mean Squared Error'])
results.head(10)

   Mean Squared Error
0          421.530367
1          190.968257
2          124.149761
3           85.454229
4           86.412606
5           70.606883
6           72.893803
7           61.812597
8           46.598392
9           44.024048

In [ ]:
## C. Increate the number of epochs

In [54]:
def third_regression_model():
    modelE = Sequential()
    modelE.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    modelE.add(Dense(1))
    
    modelE.compile(optimizer='adam', loss='mean_squared_error')
    return modelE

modelE = third_regression_model()

In [57]:
mse_list_c = []
for cycle in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_n, target, test_size=0.3)
    res = modelE.fit(X_train, y_train, epochs=100, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = res.history['val_loss'][-1]
    mse_list_c.append(mean_squared_error)
    print('{}: Mean Squared Error {}'.format(cycle+1, mean_squared_error))

1: Mean Squared Error 157.3493520249055
2: Mean Squared Error 100.34227957617503
3: Mean Squared Error 75.1451863903058
4: Mean Squared Error 45.90279146459882
5: Mean Squared Error 44.369086885915216
6: Mean Squared Error 43.32135185068865
7: Mean Squared Error 41.44817139955786
8: Mean Squared Error 31.756541286085803
9: Mean Squared Error 36.966497273121064
10: Mean Squared Error 40.75173871185402
11: Mean Squared Error 36.676031822525566
12: Mean Squared Error 35.11164112770056
13: Mean Squared Error 33.93149232092799
14: Mean Squared Error 33.99420486993388
15: Mean Squared Error 36.999093626695156
16: Mean Squared Error 34.28434482438664
17: Mean Squared Error 35.06605348309267
18: Mean Squared Error 33.02962772900233
19: Mean Squared Error 32.61978830874545
20: Mean Squared Error 31.033740133143553
21: Mean Squared Error 33.04496596623393
22: Mean Squared Error 31.414908325787888
23: Mean Squared Error 35.825682044415025
24: Mean Squared Error 36.66051595496514
25: Mean Squared Error 33.610894342070644
26: Mean Squared Error 30.76594460743531
27: Mean Squared Error 36.05052736893441
28: Mean Squared Error 37.88698867995377
29: Mean Squared Error 35.25968304112505
30: Mean Squared Error 29.988206844885372
31: Mean Squared Error 33.54322138419043
32: Mean Squared Error 32.74463799238976
33: Mean Squared Error 33.23015801266173
34: Mean Squared Error 35.53370820820139
35: Mean Squared Error 29.49085272631599
36: Mean Squared Error 34.91331849823492
37: Mean Squared Error 34.024510985439264
38: Mean Squared Error 29.421715004930217
39: Mean Squared Error 33.37433554516641
40: Mean Squared Error 35.90264769742404
41: Mean Squared Error 27.0184295246902
42: Mean Squared Error 32.26462106797302
43: Mean Squared Error 32.9811089895304
44: Mean Squared Error 32.89980554426372
45: Mean Squared Error 32.8801594829868
46: Mean Squared Error 32.819794429544494
47: Mean Squared Error 31.621484614498794
48: Mean Squared Error 35.393026851913305
49: Mean Squared Error 34.340722821677
50: Mean Squared Error 29.293612739414844

In [59]:
mean_sqmse_C = np.mean(mse_list_c)
std_sqmse_C  = np.std(mse_list_c)

results.loc[results.shape[0]] = ["C",mean_sqmse_C,std_sqmse_C]
results

  Part  Mean of Mean Squared Errors  Standard deviation of Mean Squared Errors
0    A                    52.149208                                  59.385506
1    B                    30.582871                                   2.212264
2    C                    39.085984                                  20.347066

In [ ]:
# We repeated Part B but this time we used 100 epochs for training.

In [ ]:
## D. Increase the number of hidden layers

In [60]:
def fourth_regression_model():
    modelNN = Sequential()
    modelNN.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    modelNN.add(Dense(10, activation='relu'))
    modelNN.add(Dense(10, activation='relu'))
    modelNN.add(Dense(1))
    
    modelNN.compile(optimizer='adam', loss='mean_squared_error')
    return modelNN

In [61]:
modelNN = fourth_regression_model()

In [64]:
mse_list_d = []
for cycle in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_n, target, test_size=0.3)
    res = modelNN.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = res.history['val_loss'][-1]
    mse_list_d.append(mean_squared_error)
    print('{}: Mean Squared Error {}'.format(cycle+1, mean_squared_error))

1: Mean Squared Error 129.5717150246827
2: Mean Squared Error 115.0915772768286
3: Mean Squared Error 109.39570239909644
4: Mean Squared Error 83.637052443421
5: Mean Squared Error 55.02650849178771
6: Mean Squared Error 40.91096825584239
7: Mean Squared Error 41.79761791537881
8: Mean Squared Error 41.66037355194586
9: Mean Squared Error 41.337167276919466
10: Mean Squared Error 42.86048715091446
11: Mean Squared Error 41.950944875822096
12: Mean Squared Error 35.52625786988095
13: Mean Squared Error 38.49853479823634
14: Mean Squared Error 36.06219587356913
15: Mean Squared Error 33.27874033659407
16: Mean Squared Error 40.47028987847486
17: Mean Squared Error 32.99890700898896
18: Mean Squared Error 30.02430577571338
19: Mean Squared Error 35.217611461009795
20: Mean Squared Error 34.14447259748638
21: Mean Squared Error 32.056711647502816
22: Mean Squared Error 31.692843477317044
23: Mean Squared Error 30.11295351318557
24: Mean Squared Error 29.661206890464214
25: Mean Squared Error 31.08314649958441
26: Mean Squared Error 28.9579832453558
27: Mean Squared Error 30.70153327127105
28: Mean Squared Error 27.86562975170543
29: Mean Squared Error 34.72507945310722
30: Mean Squared Error 29.430513869597302
31: Mean Squared Error 30.401869097959647
32: Mean Squared Error 27.122988703953023
33: Mean Squared Error 27.92939419422335
34: Mean Squared Error 29.636891250857257
35: Mean Squared Error 32.08659097369049
36: Mean Squared Error 30.262466930648657
37: Mean Squared Error 25.985164531226296
38: Mean Squared Error 30.367712644311602
39: Mean Squared Error 30.488496971747637
40: Mean Squared Error 31.54317777442315
41: Mean Squared Error 31.280164360614272
42: Mean Squared Error 27.179287870339206
43: Mean Squared Error 26.537283196804207
44: Mean Squared Error 24.36466224448195
45: Mean Squared Error 25.626095250200684
46: Mean Squared Error 26.372619341878057
47: Mean Squared Error 28.59996900589335
48: Mean Squared Error 30.256086590220626
49: Mean Squared Error 24.915044580848473
50: Mean Squared Error 24.351292662635977

In [65]:
mean_sqmse_D = np.mean(mse_list_d)
std_sqmse_D  = np.std(mse_list_d)

results.loc[results.shape[0]] = ["D",mean_sqmse_D,std_sqmse_D]
results

  Part  Mean of Mean Squared Errors  Standard deviation of Mean Squared Errors
0    A                    52.149208                                  59.385506
1    B                    30.582871                                   2.212264
2    C                    39.085984                                  20.347066
3    D                    38.621126                                  22.185058

In [ ]:
#Part B emerges as the best-performing part, followed by D, C, and A in order of decreasing performance. We can attribute the reason for this to adding more layers to a neural network can lead to greater improvements than adjusting other parameters." we can connect